.cardProducto {
    background-color: #fdc5c6;
    width: 14rem;
    display: grid;
    padding: 1rem;
    height: 33rem;
    border: solid .5rem #ffff;
    border-radius: 1rem;
}

.cardProducto img {
    width: 8.5rem;
    object-fit: contain;
    justify-self: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.cardProducto button {
    border: none;
    height: 2rem;
    background-color: #481f4f;
    border-radius: 1rem;
    color: #ffff;
    width: 100%;
}

.cardProducto h5 {
    height: 3rem;
    color: #481f4f;
    font-weight: bolder;
}

.cardProducto h6 {
    color: #481f4f;
}

.cardProducto p {
    color: #481f4f;
    font-weight: bolder;
    height: 1rem;
}

.cardProducto .stock {
    font-weight: 500;
}