.navbar{
    background-color: #f94707;
    border-bottom: white solid .2rem;
    height: 4.5rem;
}

.navLinkHome{
    color: white !important;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 3rem !important;
    margin-left: -1rem;
    transition: .5s !important;
    padding: 1rem 1rem !important;
}

.navLinkHome:hover{
    background-color: #ff865a;
}

.navLink:hover{
    background-color: #ff865a;
}

.navLink{
    color: white !important;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: .5s !important;
    padding: 1rem 1rem !important;
}

.imgBrand{
    height: 7rem;
}