.navbar{
    background-color: #f94707;
    height: 4.5rem;
}

.navLinkHome{
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right: 1rem;
    margin-left: 2rem;
    transition: .5s;
    padding: 1rem 1rem;
    text-decoration: none;
}

.navLinkHome:hover{
    background-color: #ff865a;
}

.navLink:hover{
    background-color: #ff865a;
}

.navLink{
    color: white ;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: .5s;
    padding: 1rem 1rem;
    text-decoration: none;
}

.imgBrand{
    height: 3rem;
}